<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/fragments :: head"></head>
<body>

<div th:replace="fragments/fragments :: navbar" ></div>
This is the shopping cart.

<h1>Under Construction!</h1>
<image src="https://i.chzbgr.com/full/4649015040/h83AFCF79/shopping-go-carts" width="480" height="320" padding="15" frameBorder="10" ></image>

<p><a class="btn btn-primary btn-lg" href="/checkout" role="button">Checkout</a></p>

<footer th:replace="fragments/fragments :: footer"></footer>

</body>
</html>
